{{#if characters}}
{{#each characters}}
{{#with this}}
<div class="avatar-container" style="padding: 0px;">
  <div class="avatar" title="{{ this.name }}">
    <img src="{{ this.avatar }}" alt="{{ this.name }}">
  </div>

  <div class="flex-container wide100pLess70px character_select_container">
    <div class="wide100p character_name_block" style="margin-bottom: 0px;">
      <span class="ch_name flex1">{{ this.name }}</span>

      <div class="avatar-buttons">
        <button class="menu_button slot_manager_release" data-slot="{{ this.slot }}" title="Release slot">
          <i class="fa-fw fa-solid fa-recycle"></i>
        </button>
      </div>
    </div>

    <div class="ch_description">
      <div class="online_status">
        <div class="slot_status_indicator"></div>
        <div class="slot_status_text">Slot #{{ this.slot }}</div>
      </div>
    </div>
  </div>
</div>
{{/with}}
{{/each}}
{{else}}
<div class="slot_status_empty">
  <i class="fa-solid fa-dragon fa-4x"></i>
  <h1>Here be dragons</h1>
  <p>There are no items to display.</p>
</div>
{{/if}}
